stepFunctions2.yml
---
StartAt: FindUsers
States:
  FindUsers:
    Type: Task
    Parameters:
      page_token.$: "$.find_users.next_page_token"
    Resource: arn:aws:lambda:us-west-2:${AWS::AccountId}:function:cognito-ab-deployment-FindUsers
    Next: ProcessUsers
  ProcessUsers:
    Type: Parallel
    Next: CleanupState
    Branches:
    - StartAt: ProcessConfirmedUsers
      States:
        ProcessConfirmedUsers:
          Type: Task
          Parameters:
            users.$: "$.find_users.confirmed_users"
          ResultPath: "$.confirmed_users_result"
          Resource: arn:aws:lambda:us-west-2:${AWS::AccountId}:function:cognito-ab-deployment-ConfirmedUsers
          End: true
    - StartAt: ProcessNonConfirmedUsers
      States:
        ProcessNonConfirmedUsers:
          Type: Task
          Parameters:
            users.$: "$.find_users.non_confirmed_users"
          ResultPath: "$.non_confirmed_users_result"
          Resource: arn:aws:lambda:us-west-2:${AWS::AccountId}:function:cognito-ab-deployment-NonConfirmedUsers
          End: true
  CleanupState:
    Type: Pass
    OutputPath: "$[0]"
    Next: ProcessAnotherPage
  ProcessAnotherPage:
    Type: Choice
    Choices:
    - Not:
        Variable: "$.find_users.next_page_token"
        StringEquals: NONE
      Next: FindUsers
    Default: DataGatheringComplete
  DataGatheringComplete:
    Type: Pass
    Next: FailedLoginsReport
  FailedLoginsReport:
    Type: Task
    Resource: arn:aws:lambda:us-west-2:${AWS::AccountId}:function:cognito-ab-deployment-FailedLoginsReport
    Parameters:
      job_id: placeholder
    Next: SuccessfulLoginsReport
  SuccessfulLoginsReport:
    Type: Task
    Resource: arn:aws:lambda:us-west-2:${AWS::AccountId}:function:cognito-ab-deployment-LastWeekLoginsReport
    Parameters:
      job_id: placeholder
    Next: NoRecentLoginReport
  NoRecentLoginReport:
    Type: Task
    Resource: arn:aws:lambda:us-west-2:${AWS::AccountId}:function:cognito-ab-deployment-NoRecentLoginReport
    Parameters:
      job_id: placeholder
    Next: ReportsComplete
  ReportsComplete:
    Type: Pass
    End: true
